body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    background-color: #1f2937;
    padding-left: 200px;
    padding-right: 200px;
}

.header p {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

ul {
    display: flex;
    list-style-type: none;
    margin-left: auto;
    align-items: center;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.hero {
    display: flex;
    background-color: #1f2937;
    padding-left: 200px;
    padding-right: 200px;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 100px;
}

.hero-section {
    display: flex;
    gap: 40px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: space-between;
    flex: 1;
}

.hero-text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero-sub {
    font-size: 18px;
    color: #e5e7eb;
}

.hero button {
    background-color: #3882f6;
    padding: 10px;
    color: #e5e7eb;
    border-radius: 10px;
    font-weight: bold;
    border-color: #3882f6;
    width: 120px;
}

img {
    max-width: 100%;
}

.hero-image {
    display: flex;
    align-items: center;
    flex: 1;
}

.content {
    padding-left: 200px;
    padding-right: 200px; 
    margin-bottom: 100px;
}

.content-header {
    padding: 30px;
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    margin-bottom: 30px;
}

.boxes {
    display: flex;
    justify-content: space-around;
}

.box {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 143px;
}

.quote {
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    padding: 100px 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.author {
    font-size: large;
    color: black;
    font-weight: bold;
    display: flex;
    align-self: flex-end;
    font-style: normal;
}

.CTA {
   padding: 50px 200px;
}

.CTA-container {
    background-color: #3882f6;
    padding: 50px 100px;
    display: flex;
    border-radius: 10px;
    border-color: #3882f6;
}

.CTA-text {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    color: white;
}

.CTA-header {
    font-weight: 700;
    font-size: 24px;
}

.CTA-container button {
    margin-left: auto;
    display: flex;
    align-self: center;
    background-color: #3882f6;
    padding: 10px;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    border-color: white;
    width: 120px;
    justify-content: center;
    border-width: thin;
}

.footer {
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 10px;
}